*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  /* colors */
  --primary-color: #fff;
  --secondary-color:  #4e4b4b;
  /* fonts */
  --primary-font:  monospace;
}
.bg-image{
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  filter: blur(4px) brightness(90%) ;
  z-index: -100;
}
nav{
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 80px;
  padding: 40px;
}
.logo{
  width: 190px;
  padding-left: 10px;
  color: var(--primary-color);
  border: 1px solid black;
}
nav .weather-input{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 60px;
  right: 80px;
}
nav .loc-svg{
  position: absolute;
  height: 60px;
  width: 40px;
}
nav .loc-head{
  color: var(--primary-color);
  position: absolute;
  font-family: var(--primary-font);
  text-align: center;
  top: 20px;
}
nav #locationInput{
    visibility: hidden;
    position: absolute;
    width: 150px;
    height: 30px;
    top: 23px;
    z-index: 4;
}
.main-header{
  height: 100%;
}
.main-part{
  position: relative;
  display: flex;
  flex-direction: row;
}
.current-data{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  color: var(--primary-color);
  font-family: var(--primary-font);
}
.location-container{
  position: absolute;
  top: 5px;
}
.data-part{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.data-loc{
  font-size: 50px;
  padding: 20px 0 0 0;
  margin-left: 50px;
}
.data-date{
  padding: 10px 0 10px 0;
  margin-left: 50px;
}
.current-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute; 
  left: 50px;
  top: 90px; 
}
.data-image{
  height: 150px;
  width: 150px;
}
.data-type{
  transform: translateY(-30px);
}
.temp-part{
  margin-left: auto;
  padding: 20px;
}
.temp-head{
  font-family: sans-serif;
  margin-right: 80px;
  font-size: 200px;
}
.custom-part{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.select{
  color: var(--primary-color);
  padding: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 40px;
  font-family: var(--primary-font);
  font-size: 25px;
  transition: background-color 0.3s ease;
  position: relative;
}
.select:hover{
  background-color: #4e4b4b46;
}
.select.selected {
  color:  var(--secondary-color);
 }
 
.select.active {
  background-color: transparent;
  color: var(--primary-color);
}
.line-div{
  position: relative;
  width: 500px;
  height: 3px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
    display: none;
}
.highlight-line {
  position: absolute;
  height: 3px;
  background-color: var(--primary-color);
  top: 0;
  left: 98px;
  width: 120px; 
  border-radius: 2px;
  transition: left 0.3s ease, width 0.3s ease;
}
.value-part{
  color: var(--primary-color);
  padding: 30px 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.value-img{
  height: 80px;
  width: 80px;
}
.value{
 height: 100%;
 padding: 0 20px;
 margin: 0 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}